*{
    margin: 0;;
}
body{
 background-color: #EDECE9;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; 
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 10px;
    color: transparent;
}
.title{
    color: #e97200;
    font-size: 30px;
    font-weight: bold;
   
}
.links{
  margin-top: 5px;
    display: flex;
}
.links1{
    margin: 8px;
    text-decoration: none;
    color: #e97200;
}
.button{
   
    text-decoration: none;
    color: black;
    border: solid #e97200 1px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}
.button:hover {
    background-color: white;
    border: solid #e97200 1px;
    font-weight: bold;
    color: #e97200;
  }

  .title1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
  .under{
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    width: 90%;
    margin: 0 auto;
  }
  .header{
    font-size: 30px;
    font-weight: 500;
    font-family:sans-serif;
    
  }
  .smallanimal{
    width: 100%;
    position: relative;
  }

  #small{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .imagesonsign{
    width: 100%;
    position: relative;
    border-radius: 20px;

  }
  
  .imagesonsign:hover{
    width: 100%;
opacity: 0.2;
  }
  
  .image-container {
    position: relative;
    width: 30%;
    
}



.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
    font-size: 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.image-container:hover .image-text {
    opacity: 1;
    
}

.footers{
  display: flex;
  justify-content: space-around;
}

.p-main4{
  font-size: 20px;
  margin: 10px;
  color: white;
}
.fotterlinks{
margin: 10px;
color: white;
font-size: 20px;

}
footer{
background-color: #333333;

}
